body{
    background-color: rgb(255, 153, 0);
}

.title{
   font-size: 2em;
   color: blue; 
}

.logo{
    width: 400px;
}

.cards{
    border: 2.5px solid black;
    width: fit-content;
    padding: 0px 1em 1em 1em ;
    border-radius: 10%;
    transition: 1s;
}

.cards:hover{
    background-color: aqua;
}


#principal{
    font-size: 4.5em;
    color: aqua;
}

.texto{
    font-size: 2em;s
    color: rgb(39, 3, 37);
}

#titulos{
    border: 2px solid black;
    width: 60vw;
    margin: auto;
    padding: 3em;
}
