/* Reset básico para eliminar márgenes, paddings y otros estilos predeterminados */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif; /* Puedes cambiar la fuente según lo que prefieras */
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal; /* Puedes ajustar el peso de las fuentes según lo que necesites */
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

img {
  max-width: 100%;
  height: auto;
}

